.carousel-container {
    width: 80%;        /* Responsive width */
    max-width: 500px;  /* Maximum width */
    margin: 0 auto;
    margin-bottom: 100px;
  }
  
  .carousel-container img {
    width: 100%;
    height: auto;
    border-radius: 70px;
  }
  